.header{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	color: black;
}

#cp-title{
	color: black !important;
}

#subscribe{
	text-align: center;
}

a:link {
	color: black;
}

a:hover{
	color:black;
	text-decoration: none;
}

a:visited{
	color:black;
}

body {
	background-color: pink;
}

